$background1: #f0f0f0;
$background2: #ffffff;
$border: #8693AB;

$accent1: #618b44;
$accent1-sub: #A3D77F;
$accent1-text: #ffffff;
$accent2: #FF8811;
$accent2-text: #000000;

$main: #bdd4e7;
$headline: #5c5c5c;
$text: #5c5c5c;

$link-header: #5c5c5c;
$link-body: #618b44;
$link-body-hover: #283E18;

