/* -- Aside -- */
.quote {
  width: 30%;
  display: block;
  background-color: $background1;
}

.inner-box {
  margin:119px 8% 0% 0%;
  padding: 5%;
  background-color: $background2;
  border-radius: $container-radius;
}

.aside-row1:first-child {
  font-style: italic;
  font-weight: 300;
}
/* -- End of Aside -- */