/* -- Image -- */
.image-bar {
  width:100%;
  position: static;
}

.image {
  width: 100%;
  height: auto;
}

@keyframes slidy {
0% { left: 0%; }
30% { left: 0%; }
35% { left: -100%; }
65% { left: -100%; }
70% { left: -200%; }
95% { left: -200%; }
100% { left: -300%; }
}
 
div#slider { overflow: hidden; }
div#slider figure img { width: 25%; float: left; }
div#slider figure { 
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
/* -- End Image -- */