/*-- 992Px Media Query --*/
@media screen and (max-width: 992px) {
  
  /* -------------COMPONENTS-------------*/
  
  /*-- Logo Bar & Search Bar --*/
  .top-menu ul li a {
    font-size: 1.25rem;
  }
  /*-- End Logo Bar & Search Bar --*/
    
  
  /* -- Nav Bar -- */
  .navbar li {
    width:13%;
  }
  /* -- End Nav Bar -- */

  /* -- Aside -- */
  .inner-box {
    margin:108px 8% 0% 0%;
  }
  /* -- End of Aside -- */
  
  /* -- Footer -- */
  .footer-row1 {
    padding: 0 0 10px 4%;
  }
  /* -- End Footer -- */
  
  /* -------------END COMPONENTS-------------*/
  
  /* -------------SPECIFIC PAGES-------------*/
  
    /* ----------INDEX PAGE----------*/
    /* -- Upper Body -- */
    /* -- Video Container -- */
    .main-top-left {
      margin:3% 3% 3% 3%;
    }
    /* -- End Video Container -- */

    /* -- Article Container -- */
    .main-top-right {
      width:29%;
      margin:3% 3% 3% 1%;
    }
    /* -- End Article Container -- */
    /* -- End Upper Body Container -- */


    /* -- Lower Body Container -- */
    .main-col a img {
      width: 180px;
      height: 180px;
    }
  /* -- End Lower Body Container -- */
  /* ----------END INDEX PAGE----------*/
  
  /* ----------RESEARCH PAGE----------*/
    /* -- Main Body -- */
    .research-cola img {
      width: 130px;
      height: 130px;
    }

    .colb ul li {
        line-height: 2.5rem;
    }
    /* -- End of Main Body -- */

  /* ----------END RESEARCH PAGE----------*/
  
  /* --------------TEAM PAGE--------------*/
  /* -- Main Body -- */
    .rowb img {
      width: 130px;
    }
    /* -- End of Main Body -- */
    /* -----------END TEAM PAGE--------------*/
  
}
/* -- End 992Px Media Query -- */


















/*-- 768Px Media Query --*/
@media screen and (max-width: 768px) {
  
  /* -------------COMPONENTS-------------*/
  
  /*-- Logo Bar & Search Bar --*/
  .logo-bar {
      background-image: url("");
    }  
  
  
  .logo {
      text-align: center;
    }
  
    .top-menu ul {
      padding: 0;
      text-align: center;
    }

    .top-menu ul li  {
      display:block;
      padding: 2px 0;
      border-top-style: solid;
      border-top-width: 2px;
      border-color: $border;
    }
  
    .top-menu ul li a {
      color: $link-header;
      font-weight: 400;
      font-size: 1.25rem;
      display:block;
    }
  
    .middle a {
      border-left-style: none;
      border-right-style: none;
      border-width: 0px;
      padding: 0px;
    }
  
    .top-menu ul .right {
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-color: $border;
    }

    .search {
      padding: 0 0 10px 0;
      text-align: center;
    }
    
    .text {
      width: 60%;
    }
    /*-- End Logo Bar & Search Bar --*/
  
  
    /* -- Nav Bar -- */
    .navbar {
      display:block; 
    }
  
    .navbar li {
      padding: 2px 0;
      width:100%;
      border-top-style: solid;
      border-top-width: 2px;
      border-color: $border;
    }
  
    .navbar li a {
      line-height: 23px;
    }
      
    .navbar:first-child {
      border-top-style: none;
    }
    
    .navbar li:first-child {
      padding: 0;
    }
  
    .navbar .dropdown .dropdown-content {
      position:relative;
  }
    /* -- End Nav Bar -- */
  
    /* -- Aside -- */
    .quote {
      width: 100%;
    }

    .inner-box {
      margin:0;
      padding: 3%;
      border-radius: 0;
    }
    /* -- End Aside -- */
  
    /* -- Footer Container -- */
      .footer-col h5 {
        padding: 30px 0 0 0;
      }

      .footertext {
        padding:0 0 10px 0;
        margin: 0;
      }
  
      .footer-row2 {
        padding: 0 0 20px 0;
      }
      
      .footer-list1 {
        padding: 10px 0 20px 0;
        margin: 0 0 0 0;
      }
    /* -- End Footer -- */
  
  /* -------------END COMPONENTS-------------*/
  
  /* -------------SPECIFIC PAGES-------------*/
  /* -------------INDEX PAGE-------------*/
    /* -- Upper Body -- */
    /* -- Video Container -- */
    .main-top-left {
      width:94%;
      margin:3% 3%;
      padding: 1% 7%;
    }

    .main-top-left h2 {
      font-weight:400;
      text-align: center;
    }
    /* -- End Video Container -- */
    /* -- Article Container -- */
    .main-top-right {
      width:94%;
      margin:0 3% 3% 3%;
    }

    .main-top-right h2 {
      font-weight:400;
      text-align: center;
    }

    .content {
      text-align: center;
    }
    /* -- End Article Container -- */
    /* -- End Upper Body -- */
  
    /* -- Mid Body Container -- */
    .main-middle {
      display: block
    }
    /* -- Upcoming Events -- */
    .main-middle-left {
      width: 94%;
      margin: 0 3%;
    }
    /* -- End Upcoming Events -- */

    /* -- Facilities -- */
    .main-middle-right {
      width: 94%;
      margin: 0 3%;
    }
    /* -- End Facilities -- */
    /* -- End Mid Body Container -- */
  
    /* -- Lower Body Container -- */
    .main-col a img {
      width: 180px;
      height: 180px;
    }
    /* -- End Lower Body Container -- */
    /* -------------END INDEX PAGE-------------*/
  
  
  
  
    /* -------------RESEARCH PAGE-------------*/
    /* -- Main Body -- */
    .main-body {
      display:block;
    }
  
    .body-row2 {
      border-radius: 0px;
    }

    .colb ul li {
        line-height: 2.5rem;
    }
  
    .research-cola img {
      width: 130px;
      height: 130px;
    }
    /* -- End Main Body -- */
    /* -------------END RESEARCH PAGE-------------*/
  
    /* --------------TEAM PAGE--------------*/
    .main-body {
      display:block;
    }
    .row2, .row3 {
      display:block;
    }

    .col {
      width:100%;
      border-radius: 0px;
    }
    
    .col:hover {
      border-style: none;
      border-width: 0;
    }

    .rowb img {
      width: 300px;
    }
    /* --------------END TEAM PAGE--------------*/
  
  
}
/*-- End 768Px Media Query --*/


  