//Mixins
@mixin spacing {
  margin: 0;
  padding: 0;
}

@mixin main-links {
  text-decoration: none;
  color: $link-body;
}

@mixin main-hover {
  text-decoration: none;
  color: $link-body-hover;
}

@mixin headline {
  font-weight:400;
  color: $headline;
}

//Globals
@import 'globals/colors';
@import 'globals/typography';
@import 'globals/container';

//Componants
@import 'components/full-body';
@import 'components/header';
@import 'components/nav';
@import 'components/image-bar';
@import 'components/aside';
@import 'components/footer';

body {
  max-width: $site-width;
}

/* -- Main Body -- */
.main-body {
  display: flex;
  @include spacing;
}
.team-body {
  display: block;
  background-color: $background1;
  padding: 0 0% 3% 3%;
}

.body-row1-col1 {
  padding: 0;
  margin: 0 0 20px 0;
}

.row2, .row3 {
  width: 100%;
}

.col {
  background-color: $background2;
  width:31.3%;
  margin:0 2% 2% 0;
  padding: 0 auto;
  text-align: center;
  border-radius: $container-radius;
  border-style: solid;
  border-width: $border-width;
  border-color: $background1;
}

.col:hover {
  border-color: $accent2;
}

.heading1, .rowa h2 {
  @include headline;
}

.rowb img {
  width: 180px;
  border-radius: $element-radius;
}

.rowc a {
  line-height: 6;
  font-size: 1.25rem;
  @include main-links;
}

.rowc a:hover {
  line-height: 6;
  font-size: 1.25rem;
  @include main-hover;
}

/* -- End of Main Body -- */




@import 'components/responsive-css';